# editor config
.idea/
.vscode/

# node modules
node_modules/

# useless files
.DS_Store

# credentials and private config
config.json
api_keys.json

# compile directory
dist/

# npm package lock
package-lock.json

# static
logs/
data/*.json